@import url(root.css);

#listaPersonagens {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 10px;
}

.card {
    position: relative;
    overflow: hidden;
    border-style: outset;
    border-width: 5px;
    border-color: goldenrod;
    transition: transform 0.3s;
    height: 100%;
    background-color:var(--cor-principal);
}
.card:hover {
    transform: translateY(-5px);
    animation: brilho 1.4s ease-in-out infinite alternate;
}
.card-title {
    font-size: 32px; 
    font-family: alagard;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
}
.card-body p {
    font-size: 16px;
    text-align: center;
    font-family: ari-w9500-bold;
}
.status {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 6px;
    margin-bottom: 15px;
    margin-top: auto; 
}
.status span {
    background: var(--cor-clara);
    padding: 4px 8px;
    border-radius: var(--borda);
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
}
.biografia, .descricao {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    opacity: .85;
    margin-bottom: 10px;
}
.btn-ver:hover {
    background-color: rgb(21, 38, 136);
}
.btn-excluir:hover {
    background-color: var(--cor-destaque);
}
.card-body .d-flex {
    margin-top: 10px;
}