@import url(root.css);

.popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .75);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: .35s;
    z-index: 9999;
}

.popup.ativo .popup-card {
    transform: scale(1);

}
.popup h2 {
    font-size: 50px;
}
.popup h3 {
    font-family: "alagard", sans-serif;
    background: linear-gradient(180deg, #d2b5da, #b58cd6);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin-bottom: 15px;
}
.popup h4 {
    font-family: ari-w9500-bold;
    color: var(--cor-principal);
}
.popup p {
    margin-bottom: 30px;

}

.popup span {
    margin-bottom: 1px;
}

.popup-botoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;

}
.emoji {
    font-family: emojis;
    font-size: 50px;
}


.popup.ativo{
    opacity:1;
    visibility:visible;
}
.popup-card{
    text-align: center;
    color: white;
    box-shadow:
        0 0 20px #b878ec,
        0 0 50px rgba(184, 120, 236, .4);
    position:relative;
    width:700px;
    max-width:90%;
    max-height:85vh;
    overflow:auto;
    background:#1b1828;
    border-radius:20px;
    padding:30px;
    border:2px solid #b878ec;
    transform: scale(.8);
    transition: .35s;

}
.fechar{
    position:absolute;
    top:15px;
    right:15px;
    border:none;
    background:none;
    color:white;
    font-size:22px;
    cursor:pointer;

}