:root {
    --cor-principal: #a6f6af;
    --cor-secundaria: #66b6ab;
    --transp-primaria: #fff1a9e1;
    --cor-destaque: #783888;
    --cor-fundo: #596b9b;
    --cor-texto: #4f2958;
    --borda: 5px;
}
