@import url(style.css);
@import url(navbar.css);
@import url(popup.css);
@import url(card.css);

:root {
  --fundo-imagem: url(../recursos/imgs/fundo_noite.png);
  --cor-principal: #f8f8f8;
  --cor-secundaria: #3c0c69be;
  --transp-primaria: #9bd2e7b4;
  --cor-destaque: #a20919;
  --cor-destaque-transp: #7838888c;
  --cor-fundo: #1f246c;
  --cor-texto: #500e8d;
  --cor-negrito: #3c0c69;
  --borda: 5px;
  --agina: #ffffff;
  --blur: 5px;
}

[data-theme="temaDia"] {
  --fundo-imagem: url(../recursos/imgs/fundo_dia.png);
  --cor-principal: #f8f8f8;
  --cor-secundaria: #3c0c69be;
  --transp-primaria: #9bd2e7b4;
  --cor-destaque: #a20919;
  --cor-destaque-transp: #7838888c;
  --cor-fundo: #1f246c;
  --cor-texto: #500e8d;
  --cor-negrito: #3c0c69;
  --agina: #ffffff;
}
[data-theme="temaTarde"] {
  --fundo-imagem: url(../recursos/imgs/fundo_tarde.png);
  --cor-principal: #f8f8f8;
  --cor-secundaria: #3c0c69be;
  --transp-primaria: #9bd2e7b4;
  --cor-destaque: #a20919;
  --cor-destaque-transp: #7838888c;
  --cor-fundo: #1f246c;
  --cor-texto: #500e8d;
  --cor-negrito: #3c0c69;
  --agina: #ffffff;
}
[data-theme="temaPorDoSol"] {
  --fundo-imagem: url(../recursos/imgs/fundo_porDoSol.png);
  --cor-principal: #f8f8f8;
  --cor-secundaria: #3c0c69be;
  --transp-primaria: #9bd2e7b4;
  --cor-destaque: #a20919;
  --cor-destaque-transp: #7838888c;
  --cor-fundo: #1f246c;
  --cor-texto: #500e8d;
  --cor-negrito: #3c0c69;
  --agina: #ffffff;
}
[data-theme="temaManha"] {
  --fundo-imagem: url(../recursos/imgs/fundo_manha.png);
  --cor-principal: #f8f8f8;
  --cor-secundaria: #3c0c69be;
  --transp-primaria: #9bd2e7b4;
  --cor-destaque: #a20919;
  --cor-destaque-transp: #7838888c;
  --cor-fundo: #1f246c;
  --cor-texto: #500e8d;
  --cor-negrito: #3c0c69;
  --agina: #ffffff;
}

@font-face {
  font-family: "ari-w9500";
  src: url(../recursos/fontes/ari-w9500-condensed-display.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kiwisoda";
  src: url(../recursos/fontes/KiwiSoda.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alagard";
  src: url(../recursos/fontes/alagard.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ari-w9500-bold";
  src: url(../recursos/fontes/ari-w9500-bold.ttf);
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: "emojis";
  src: url(../recursos/fontes/EmojiFont.ttf);
}