@import url(root.css);

body {
    background-image: url(../recursos/imgs/fundo_dia.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
    font-family: "Jersey 15", sans-serif;
    font-weight: 700;
    background: linear-gradient(180deg, rgb(231, 142, 142), rgb(218, 47, 47));
    background-clip: text;
    -webkit-text-fill-color: transparent;

    color: transparent;
-webkit-text-fill-color: transparent;
}

main {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#mainConteudo {
  background-color: var(--transp-primaria); 
  padding: 2rem;
  border-style: double;
  border-radius: var(--borda)
}

#mainTop {
  background-color: var(--transp-primaria);
  border-style:double;
  border-radius: var(--borda);

}